/Kickstart/.idea
/Kickstart/cmake-build-debug
/LeetCode/contests/.idea
/LeetCode/contests/cmake-build-debug
/LeetCode/problems/.idea
/LeetCode/problems/cmake-build-debug
/.DS_Store
/.idea
/cmake-build-debug
/Kickstart/.DS_Store
/GCJ/cmake-build-debug
/GCJ/.idea/
/GCJ/.DS_Store
/LeetCode/cmake-build-debug
/LeetCode/.idea
